body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    color: rgb(204, 29, 93);
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}

article h1{
    padding-top: .3em;
    padding-bottom: .5em;
    border-radius: 20px;

    animation: moveleftright 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}


@keyframes moveleftright{

    0%{background-color: black;}
    25%{background-color: green; }
    50%{background-color: blue;}
    75%{background-color: rgb(134, 115, 57); }
    100%{background-color: rgb(11, 197, 244);}
}


h2{
    color: rgb(204, 29, 93);
    font-size: 1.5rem;
    text-decoration: underline;
}

header > img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
}

nav div{
    display: block;
    text-align: center;
    background-color: rgb(208, 118, 133);
    border-radius: 15px;
    padding: 1em 1em 1em 1em;

}

a{
    color: white;
}

a:hover{color:blueviolet;}

section{
    display: flex;
}

article{
    flex: 1;
    color: rgb(204, 29, 93)
}

p{
    background-color: rgb(112, 212, 221);
    margin-right: 2em;
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
}

footer{
    display: flex;
    background-color: rgb(74, 204, 167);
    margin-top: 2em;
    border: 2em;
    border-radius: 20px;
}

footer > div{
    flex: 1;
    margin-top: 2em;
    
}
footer div h1{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-bottom:2em;
    
}

footer div h1:hover{color:blueviolet;}

.foot{
    background-color:white;
    border-radius: 10px;
    margin-left: 5%;
}

.foot:hover{background-color: black;}
